.content {
  background-color: #fff;
  padding: 20px;

  .description {
    color: black;
    font-size: 16px;
    letter-spacing: normal;
    font-weight: normal;
    line-height: 20px;
    overflow: hidden;
    margin-bottom: 0;
  }
  
  .price {
    color: black;
    font-size: 15px;
    font-weight: bold;
  }
}
