@import "../../styles/variables.scss";

.content {
  display: grid;
  gap: 10px;
}

.navbar {
  display: inherit;
}

.main {
  background-color: $background-Cream;
  max-width: 1000px;
  margin: 0 auto;
}

.footer {
  display: inherit;
}
