
.productDetails {
    padding: 0 40px;

    .productDetailsInfo{
        display: flex;
        flex-direction: column-reverse;            
    }

    h3 {
        font-size: 26px;
        font-weight: 300;
        margin-bottom: 20px;
    }
    p {
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        text-transform: none;
        letter-spacing: normal;
    }

    .productCode {
        margin-bottom: 5px;
    }
}

@media (orientation: portrait) {
    .productDetails {
        .productDetailsInfo{
            display: flex;
            flex-direction: column;
        }
        .productCode {
            border-bottom: 1px solid #d4d3d3;
            padding-bottom: 10px;
            margin-bottom: 35px;
        }
    }
}