@import "../../styles/variables.scss";

// Default styles i.e. landscape | desktop
.article {
    .header{
        display: flex;
        justify-content: center;
        padding: 10px 20px;

        .title {
            font-size: 28px;
            margin-top: 0;
            margin-bottom: 0;
            margin-right: auto;
        }
    }

    // .arrowButton {
    //     background-color: inherit;
    //     border: none;
    //     margin-right: auto;
    //     font-size: 30px;
    //     font-weight: 100;
    //     display: flex;
    //     align-items: center;
    //     cursor: pointer;
    //     padding-right: 30px;
    // }

    .portrait {
        display: none;
    }

    .landscapeContainer {
        display: flex;
        flex-direction: row-reverse;
        gap: 3px;

        .rightSide {
            background-color: white;
            width: 30%;
        }

        .leftSide {
            background-color: white;
            width: 70%;
        }

        .offerInfo {
            margin-bottom: 70px;
        
            .price {
                color: black;
                font-weight: bold;
                font-size: 28px;
                margin-bottom: 10px;
            }
            
            .specialOffer {
                color: rgba(221, 11, 11, 0.938);
                font-weight: 500;
                margin-bottom: 0;
            }
            
            .includedServices {
                font-weight: 500;
                color: rgb(64, 143, 49);
            }

            &.landscape {
                padding: 30px;
            }
        }

        .readMore {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 3px solid $background-Cream;
            border-top: 3px solid $background-Cream;
            padding: 10px 0;
            margin-left: 40px;
            margin-bottom: 30px;

            h3 {
                font-size: 20px;
                color: black;
                margin: 0;
                padding: 0;
            }

            button {
                margin-right: 40px;
                transform: rotate(180deg);
            }
        }
    }
}

// Styles when in portrait mode
@media (orientation: portrait) {

    .article {

        .header{
            background: white;
            padding: 10px 50px;
        }

        .portrait {
            display: block;
        }
    
        .landscapeContainer {
            display: unset;
            flex-direction: unset;
            gap: 0;
    
            .rightSide {
                display: none;
                width: 0%;
            }

            .leftSide {
                width: 100%;
                .productInfoContainer{
                    padding: 0 30px;

                    .offerInfo {
                        padding: 0 40px;
                    }
    
                }
                
                .readMore {
                    display: none;
                }
            }

        }

        .divider {
            height: 8px;
            border-top: 8px solid #F9F9F9;
            margin: 0 5px 30px 5px;
        }

    }
 
}
