@import "../../styles/variables.scss";

.productSpecification {
    padding-top: 10px;
    padding: 0 40px;

    h3{
        font-size: 24px;
        font-weight: 300;
    }

    ul {
        list-style: none;
        color: #6b6b6b;
        padding: 0;

        li {
            display: flex;
            justify-content: space-between;
            padding: 15px 0;
            font-size: 20px;
            border-top: 3px solid $background-Cream;

            .productValue {
                font-weight: 100;
            }
        }

    }
}

@media (orientation: portrait) {
    .productSpecification {
        padding: 0 80px 20px 50px; // Top/Right/Bottom/Left => TRBL
        margin-bottom: 20px;
    }
}