@import "../../styles/variables.scss";

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  align-items: center;
  justify-items: center;
  gap: 2px;
  // background-color: #dddddd;
  // background-color: $background-Cream;
  color: black;
  padding: 1px ;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 20px;
  font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica, sans-serif;

  .link {
    color: inherit;
    text-decoration: none;
    display: block;
    background: white;
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}