.arrowButton {
    background-color: inherit;
    border: none;
    margin-right: auto;
    font-size: 30px;
    font-weight: 100;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 30px;
}